footer.footer
  .myfooter  
    ul.wrapper
      li.icon.facebook
        span.tooltip Facebook
        span
          i.fab.fa-facebook-f
      li.icon.twitter
        span.tooltip Twitter
        span
          i.fab.fa-twitter
      li.icon.instagram
        span.tooltip Instagram
        span
          i.fab.fa-instagram
      li.icon.github
        span.tooltip Github
        span
          i.fab.fa-github
      li.icon.youtube
        span.tooltip Youtube
        span
          i.fab.fa-youtube